* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #F44336, #FFD54F);
    color: white;
    font-family: 'poppins', sans-serif;
    min-height: 100vh;
}


form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: #F44336;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #F44336;
    color: white;
}

.sub-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    
    color: black;
    font-size: 1.5rem;
    width: 400px;
    border: 15px solid gold;
    padding: 50px;
    margin: 20px;
}







.delete-button{

}