.sub-info{
    border: 2px groove black;
    border-radius: 2em;
    margin: 5% 35% ;
    padding: 50px
}

.rent-info{
    border: 2px groove black;
    border-radius: 2em;
    margin: 5% 35% ;
    padding: 50px;
    
}

.sub-form{
    border: 2px groove black;
    border-radius: 2em;
    margin: 5% 15%;
    padding: 50px;
}

.rental-form{
    border: 2px groove black;
    border-radius: 2em;
    margin: 5% 15%;
    padding: 50px;
}

body {
    background-image: linear-gradient(120deg, white, grey);
    color: black;
    font-family: 'poppins', sans-serif;
    min-height: 20vh;
}

h1,h3{
  
    margin: 5% 34%;
    padding: 10px;
}

.h1Rental{
    margin: 5% 15%;
    padding: 10px;
}